*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #e6e6e6;
}

#all{
    display: flex;
    align-items: left;
    justify-content: left;
    height: 693px;
    flex: 0.5 1 auto;
    margin: 0;
    padding: 0;
}

.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image.jpg);
    width: 720px;
    height: 1080px;
    margin: 0;
    padding: 0;
    
}

.stuff{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    
}